[submodule "backend"]
	path = backend
	url = git@github.com:Chiggy-Playz/LeetcodeRemindersBackend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Chiggy-Playz/LeetcodeRemindersFrontend.git
